# gitignore for Jupyter Notebooks
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# gitignore for venv
.myvenv
*/.myvenv/*

# gitignore Graphistry credentials
.env

# gitignore Get_Data output
Get_Data/CSV
Get_Data/table_data_win