# gitignore for Jupyter Notebooks checkpoints
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# gitignore for venv
.myvenv
*/.myvenv/*

# gitignore Graphistry credentials
.env

# gitignore Get_Data output
1_Get_Data/Data*
1_Get_Data/table_data_*
Jupyter_NBs/table_data_*
Data/Raw*

#gitignore presentation material
Presentation Material/*